# Data Cleaning & Preparation

This project demonstrates a data cleaning pipeline typically used
before exploratory data analysis or modeling.

The focus is on identifying data quality issues and applying
practical solutions to prepare the dataset for further analysis.
### Goal: Cohort Formation

Cohort analysis groups users based on a shared characteristic,
typically the time of their first interaction with the product.

In this project, cohorts are formed based on the user's first
recorded activity date. This approach allows tracking how user
behavior and engagement evolve over time relative to the moment
they entered the system.

In [1]:
import pandas as pd
import os
import datetime as dt

In [2]:
import matplotlib.pyplot as plt

In [3]:
import seaborn as sns

In [4]:
df=pd.read_csv('../data/data.csv', encoding='ISO-8859-1')

## Dataset Overview

- its structure and size;
- data types of each feature;
- presence of missing or invalid values.

In [5]:
df.shape

(541909, 8)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  object
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 33.1+ MB

In [7]:
df.isnull().sum()

InvoiceNo           0
StockCode           0
Description      1454
Quantity            0
InvoiceDate         0
UnitPrice           0
CustomerID     135080
Country             0
dtype: int64

In [8]:
df.head(5)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom

In [9]:
df.duplicated().sum()

np.int64(5268)

### Correct types

In [10]:
df['Country'] = df['Country'].astype(str)

In [11]:
df['InvoiceDate']=pd.to_datetime(df['InvoiceDate'])

In [12]:
df['Year'] = df['InvoiceDate'].dt.year

In [13]:
df['Month']=df['InvoiceDate'].dt.month

In [14]:
df['Month_Name'] = df['InvoiceDate'].dt.month_name()

In [15]:
df['UnitPrice'] = pd.to_numeric(df['UnitPrice'], errors='coerce')

In [16]:
df['CustomerID'] = df['CustomerID'].astype('Int64').astype(str)

In [17]:
df.dtypes

InvoiceNo              object
StockCode              object
Description            object
Quantity                int64
InvoiceDate    datetime64[ns]
UnitPrice             float64
CustomerID             object
Country                object
Year                    int32
Month                   int32
Month_Name             object
dtype: object

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 11 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  datetime64[ns]
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   541909 non-null  object
 7   Country      541909 non-null  object
 8   Year         541909 non-null  int32
 9   Month        541909 non-null  int32
 10  Month_Name   541909 non-null  object
dtypes: datetime64[ns](1), float64(1), int32(2), int64(1), object(6)
memory usage: 41.3+ MB

## Removing Records Without Customer Identifier

Rows with missing `CustomerID` values should be removed from the dataset.

In cohort analysis, user identification is a fundamental requirement,
as cohorts are built around tracking individual users over time.
Records without a valid customer iden|tifier cannot be reliably
assigned to a cohort or linked to a user's activity history.

In [19]:
df = df.dropna(subset=['CustomerID'])

In [20]:
df.isnull().sum()

InvoiceNo         0
StockCode         0
Description    1454
Quantity          0
InvoiceDate       0
UnitPrice         0
CustomerID        0
Country           0
Year              0
Month             0
Month_Name        0
dtype: int64

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 11 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  datetime64[ns]
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   541909 non-null  object
 7   Country      541909 non-null  object
 8   Year         541909 non-null  int32
 9   Month        541909 non-null  int32
 10  Month_Name   541909 non-null  object
dtypes: datetime64[ns](1), float64(1), int32(2), int64(1), object(6)
memory usage: 41.3+ MB

### Check unique country

In [22]:
df['Country'].unique()

array(['United Kingdom', 'France', 'Australia', 'Netherlands', 'Germany',
       'Norway', 'EIRE', 'Switzerland', 'Spain', 'Poland', 'Portugal',
       'Italy', 'Belgium', 'Lithuania', 'Japan', 'Iceland',
       'Channel Islands', 'Denmark', 'Cyprus', 'Sweden', 'Austria',
       'Israel', 'Finland', 'Bahrain', 'Greece', 'Hong Kong', 'Singapore',
       'Lebanon', 'United Arab Emirates', 'Saudi Arabia',
       'Czech Republic', 'Canada', 'Unspecified', 'Brazil', 'USA',
       'European Community', 'Malta', 'RSA'], dtype=object)

## Remove records with zero or negative prices (UnitPrice <= 0) .

In [23]:
df = df[df['UnitPrice'] > 0]

In [24]:
df.shape

(539392, 11)

## Deleting full duplicates

In [25]:
df.duplicated().sum()

np.int64(5263)

In [26]:
df.drop_duplicates(inplace=True)

## Feature Engineering

In [27]:
df['InvoiceMonth'] = df['InvoiceDate'].apply(lambda x: dt.datetime(x.year, x.month, 1))

In [28]:
df['first_purchase_date'] = df.groupby('CustomerID')['InvoiceMonth'].transform('min')

In [29]:
print(df[['CustomerID', 'InvoiceDate', 'first_purchase_date']].head())

  CustomerID         InvoiceDate first_purchase_date
0      17850 2010-12-01 08:26:00          2010-12-01
1      17850 2010-12-01 08:26:00          2010-12-01
2      17850 2010-12-01 08:26:00          2010-12-01
3      17850 2010-12-01 08:26:00          2010-12-01
4      17850 2010-12-01 08:26:00          2010-12-01

In [30]:
#order_date: Just the date (without time), handy for daily reports
df['order_date'] = df['InvoiceDate'].dt.date

In [31]:
#order_month: “Year-Month” string (for grouping and sorting in dashboards)
df['order_month'] = df['InvoiceDate'].dt.strftime('%Y-%m')

In [32]:
#cohort_date: This is our first_purchase_date (in date format)
df['cohort_date'] = df['first_purchase_date'].dt.date

In [33]:
#cohort_month: “Year-Month” string for cohort signatures
df['cohort_month'] = df['first_purchase_date'].dt.strftime('%Y-%m')

In [34]:
# Function for obtaining the year and month
def get_date_int(df, column):
    year = df[column].dt.year
    month = df[column].dt.month
    return year, month

# Calculation of years and months
invoice_year, invoice_month = get_date_int(df, 'InvoiceMonth')
cohort_year, cohort_month = get_date_int(df, 'first_purchase_date')

years_diff = invoice_year - cohort_year
months_diff = invoice_month - cohort_month

# Final index (1 is the month of purchase, 2 is the following month, etc.)
# Add +1 so that the count starts from 1. If you want to start from 0 (technical style), remove +1.
df['cohort_index'] = years_diff * 12 + months_diff + 1

## DATA VALIDATION

In [37]:
# 1. Check: The purchase date cannot be earlier than the cohort date.
# We are looking for rows where the index is less than 1 (or 0, if you have chosen that style).
invalid_rows = df[df['cohort_index'] < 1]

if len(invalid_rows) == 0:
    print("Test 1 passed: order_month >= cohort_month (no ‘past’ purchases)")
else:
    print(f" ERROR: Found {len(invalid_rows)} records where the purchase is earlier than the registration!")

# 2. Check: Each customer has only ONE cohort
# Group by customer and count unique cohort_month
n_cohorts = df.groupby('CustomerID')['cohort_month'].nunique()

if n_cohorts.max() == 1:
    print("Test 2 passed: Each customer belongs to only one cohort.")
else:
    print(" ERROR: There are customers with multiple cohorts!")

Test 1 passed: order_month >= cohort_month (no ‘past’ purchases)
Test 2 passed: Each customer belongs to only one cohort.

## LOGIC CHECK

In [38]:
#1. Checking whether the time has broken (whether it is running fast)
min_date = df['InvoiceDate'].min()
max_date = df['InvoiceDate'].max()

print(f"The first date in df:   {min_date}")
print(f"The last date in df: {max_date}")

if min_date > max_date:
    print("ERROR: The minimum date is greater than the maximum date!")
else:
    print("The logic of the dates is correct.")

# 2. Customer verification
# In this dataset, each row is a transaction.
# If the customer ID is not NaN (and we have removed them), then technically there cannot be any “customers without transactions” here.
empty_ids = df['CustomerID'].isna().sum()

if empty_ids == 0:
    print(f"All {len(df)} transactions are linked to CustomerID.")
else:
    print(f"ATTENTION: There are {empty_ids} lines left without a client ID!")

The first date in df:   2010-12-01 08:26:00
The last date in df: 2011-12-09 12:50:00
The logic of the dates is correct.
All 534129 transactions are linked to CustomerID.

## BEFORE / AFTER

In [39]:
rows_before = 541909 
rows_after = df.shape[0]

rows_deleted = rows_before - rows_after
percent_kept = (rows_after / rows_before) * 100

# Result
print(f"(Raw):       {rows_before}")
print(f"(Clean):    {rows_after}")
print(f"Deleted:        {rows_deleted} рядків")
print(f"Saved Data: {percent_kept:.2f}%")

(Raw):       541909
(Clean):    534129
Deleted:        7780 рядків
Saved Data: 98.56%

In [42]:
## Preparing to work in db

In [43]:
desired_order = [
    'InvoiceNo',      # SQL: invoice_no
    'StockCode',      # SQL: stock_code
    'Description',    # SQL: description
    'Quantity',       # SQL: quantity
    'InvoiceDate',    # SQL: invoice_date
    'UnitPrice',      # SQL: unit_price
    'CustomerID',     # SQL: customer_id
    'Country',        # SQL: country
    'InvoiceMonth',   # SQL: invoice_month
    'first_purchase_date', # SQL: first_purchase_date
    'order_date',     # SQL: order_date
    'order_month',    # SQL: order_month
    'cohort_date',    # SQL: cohort_date
    'cohort_month',   # SQL: cohort_month
    'cohort_index',   # SQL: cohort_index
]

df_ordered = df[desired_order].copy()
df_ordered.columns = [
    'invoice_no', 'stock_code', 'description', 'quantity', 'invoice_date', 
    'unit_price', 'customer_id', 'country', 'invoice_month', 'first_purchase_date',
    'order_date', 'order_month', 'cohort_date', 'cohort_month', 'cohort_index'
]

## Save file

In [50]:
import csv
df_ordered.to_csv('../data/processed/online_retail_db.csv', index=False, na_rep='', quoting=csv.QUOTE_NONNUMERIC)